---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "00:00"
      timezone: "Asia/Shanghai"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      actions:
        patterns:
          - "*"
#

  - package-ecosystem: docker
    directory: /core/xray
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /ldnmp/openresty/edge
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /ldnmp/openresty/luarocks
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /ldnmp/openresty/stable
    schedule:
      interval: daily
