---
services:
  mysql:
    image: percona/percona-server:8.0.42
    container_name: mysql
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: 8aDdVzUzXwjEAOhifFW6yg # openssl rand -base64 16
      MYSQL_USER: honeok
      MYSQL_PASSWORD: 4siz2vOewdLbww # openssl rand -base64 10
    volumes:
      - $PWD/my.cnf:/etc/my.cnf
      - $PWD/conf.d:/etc/mysql/conf.d
      - $PWD/data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", 'mysql --user=root --password=8aDdVzUzXwjEAOhifFW6yg --execute "SELECT 1"']
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    network_mode: host
