---
services:
  mysql:
    image: percona/percona-server:8.4.6-6.1
    container_name: mysql
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: 8aDdVzUzXwjEAOhifFW6yg # openssl rand -base64 16
      MYSQL_USER: honeok
      MYSQL_PASSWORD: 4siz2vOewdLbww # openssl rand -base64 10
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $PWD/my.cnf:/etc/my.cnf
      - $PWD/my.cnf.d:/etc/my.cnf.d
      - $PWD/data:/var/lib/mysql
      - $PWD/logs:/var/log/mysql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          'mysql --user=root --password=8aDdVzUzXwjEAOhifFW6yg --execute "SELECT 1"',
        ]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    network_mode: bridge
