name: "Delete old workflows"

on:
  schedule:
    - cron: "0 16 * * *"
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:
  clean:
    name: "Delete old workflows"
    runs-on: ubuntu-latest

    steps:
      - name: "Delete old workflows"
        uses: Mattraks/delete-workflow-runs@5bf9a1dac5c4d041c029f0a8370ddf0c5cb5aeb7 # v2.1.0
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0
          delete_run_by_conclusion_pattern: "ALL"
